{% extends 'pos_dashboard/base.html' %}
{% block body %}

<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Sales Add</h4>
                    <h6>Add/Update Sales</h6>
                </div>
            </div>
            <form action="{% url 'sales_product' %}" method="POST" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Customer Name</label>
                                    <select class="select" name="customer_name">
                                        <option value="" selected="">Select Customer--</option>
                                        {% for x in customer %}
                                        <option value="{{ x.pk }}">{{ x.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Phone number</label>
                                    <div class="input-groupicon">
                                        <input type="number" name="phone" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <div class="input-groupicon">
                                        <input type="date" name="billing_date" class="form-control">

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-sm-6 col-md-4 col-12">
                                <div class="form-group">
                                    <label for="product-name">Product Name</label>
                                    <div class="search-select-container">
                                        <div class="search-dropdown">
                                            <input type="text" id="search-input" class="search-input" placeholder="Search Product" />
                                            <select class="select" id="sale-product-name" name="sale_product_name">
                                                <option value="" selected>Select Product--</option>
                                                {% for product in sale_product_name %}
                                                <option value="{{ product.pk }}">{{ product.product_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="col-lg-12 float-md-right">
                                    <div class="total-order">
                                        <ul>
                                            <li>
                                                <h4>Total Price</h4>
                                                <input id="id_total_price" type="number" name="total_price"
                                                    class="form-control" placeholder="Total price">
                                            </li>
                                            <li>
                                                <h4>Discount % </h4>
                                                <input id="id_total_descount" type="number" name="total_descount"
                                                    class="form-control" placeholder="Discount price %">
                                            </li>
                                            <li>
                                                <h4>Sub Total</h4>
                                                <input id="id_sub_total" type="number" name="sub_total"
                                                    class="form-control" placeholder="Sub Total price">
                                            </li>
                                            <li class="total">
                                                <h4>Paid</h4>
                                                <input id="id_paid" type="number" name="paid" class="form-control"
                                                    placeholder="Paid price">
                                            </li>

                                            <li class="total">
                                                <h4>Due</h4>
                                                <input id="id_due" type="number" name="due" class="form-control"
                                                    placeholder="Due price">

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-submit me-2">Submit</button>
                                    <button type="reset" class="btn btn-cancel">Reset</button>

                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}


{% block script %}


{% endblock script %}