{% extends 'pos_dashboard/base.html' %}
{% block body %}

<div class="main-wrapper">

<div class="page-wrapper">
<div class="content">
<div class="page-header">
<div class="page-title">
<h4>Product Add</h4>
<h6>Create new product</h6>
</div>
</div>
<form action="" method="POST" enctype="multipart/form-data">
<div class="card">
<div class="card-body">
<div class="row">
{% csrf_token %}

<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Product Name</label>
<input type="text" name="name" class="form-control" placeholder="Product Name">

</div>
</div>

<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Product Code</label>
<input type="text" name="product_code" class="form-control" placeholder="Product Code">
</div>
</div>

<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Category</label>
<select class="select" name="category" >
<option value="" selected="">Select Category--</option>
{% for x in category %}
<option value="{{ x.pk }}">{{ x.category_name }}</option>
{% endfor %}
</select>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Brand</label>
<select class="select" name="brand" >
<option value="" selected="">Select Brand--</option>
{% for x in brand %}
<option value="{{ x.pk }}">{{ x.name }}</option>
{% endfor %}
</select>
</div>
</div>

<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Unit</label>
<select class="select" name="unit" >
<option value="" selected="">Select Unit--</option>
{% for x in unit %}
<option value="{{ x.pk }}">{{ x.name }}</option>
{% endfor %}
</select>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Quantity</label>
<input type="number" name="quantity" readonly="True" required="False" class="form-control" placeholder="Quantity">
</div>
</div>

<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Price</label>
<input type="number" name="price" class="form-control" placeholder="Price">

</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<label>Description</label>
<textarea type="text" name="product_details" class="form-control" placeholder="Product Details"></textarea>
</div>
</div>

<!-- <div class="col-lg-12">
<div class="form-group">
<label> Product Image</label>
<div class="image-upload">
<input type="file">
<div class="image-uploads">
<img src="https://dreamspos.dreamguystech.com/html/template/assets/img/icons/upload.svg" alt="img">
<h4>Drag and drop a file to upload</h4>
</div>
</div>
</div>
</div> -->
<div class="col-lg-12">
<button type="submit" class="btn btn-submit me-2">Submit</button>
<a href="https://dreamspos.dreamguystech.com/html/template/productlist.html" class="btn btn-cancel">Cancel</a>
</div>
</div>
</div>
</div>
</form>
</div>
</div>
</div>

{% endblock body %}
